/* General */
.bsi-webIcon {
  color: var(--channels-default);
  margin-left: 4px;
  top: 0;
}

.peopleListItem-2nzedh .userInfo-2zN2z8 .bsi-webIcon {
  visibility: hidden;
}

.peopleListItem-2nzedh .userInfo-2zN2z8.hovered-15FzL3 .bsi-webIcon {
  visibility: visible;
}

/* Theme Compatibility */

/* Radial Status */
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][data-status='online']:after {
  background: var(--rs-online-color, #43b581);
}

#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][data-status='idle']:after {
  background: var(--rs-idle-color, #faa61a);
}

#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][data-status='dnd']:after {
  background: var(--rs-dnd-color, #f04747);
}

#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][data-status='offline']:after {
  background: var(--rs-offline-color, #636b75);
}

#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][data-status='streaming']:after {
  background: var(--rs-streaming-color, #643da7);
}

/* Settings */
.bsi-title {
  margin-bottom: 20px;
}
